target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Wild IDEs
## IDEA
.idea
## Eclispe 
.project
.settings
.classpath

# Config file
.data
.ID